.header {
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
    height: 5rem;

    &__logo {
        height: 2rem;
    }

    &__scrolled {
        position: fixed;
        background-color: $transparent;
    } 

    &__default {
        position: relative;
        background-color: $color-black;
        border-bottom: 2px solid $color-yellow;

        &-scroll {
            position:fixed;
            background-color: $color-black;
            border-bottom: 2px solid $color-yellow;
        }
    }

    &__navigation {

        &-item {
            display: inline-block;
        }
    }
}