<% include ../partials/header %>

<main>
    <%- messages('message', locals) %>
    <% if(typeof errors == 'object' && errors){%>
        <% errors.forEach(function (error){ %>
            <div><%= error.msg %></div>
        <% }); %>
    <% }%>
        
    <div class="row">
        <div class="heading-primary-black">
            <div class="hheading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline u-margin-top-medium">
                Change Password
            </div>
        </div>
        <form action="/student/passwordChange" method="POST" class="form u-padding-small">
            <label for="oldPassword">Old Password</label>
            <input type="text" name="oldPassword" id="oldPassword" placeholder="Password" class="form__field">

            <label for="newPassword" class="u-margin-top-large">New Password</label>
            <input type="newPassword" name="newPassword" id="newPassword" placeholder="Password" class="form__field">

            <label for="ConfPassword" class="u-margin-top-large">Confirm Password</label>
            <input type="ConfPassword" name="ConfPassword" id="ConfPassword" placeholder="Password" class="form__field">

            <input type="submit" value="Login" class="button--more u-margin-top-medium">
        </form>
    </div>

</main>

<% include ../partials/footer %>