<% include ../partials/header %>

<div class="headline u-margin-top-medium">
    <div class="row">
        <div class="col-1-of-4">
                <img src="../../media/images/instructor-profile/vitalik_buterin.jpg" alt="" class="image-round image-round-large u-align-right-image">   
        </div>
        <div class="col-3-of-4">
            <div class="u-padding-small u-line-height-small">
                <img src="" alt="" class="headline__item-image">
                <span class="headline__item-title">Vitalik Buterin</span>
                <span class="headline__item-tag">Best Programming Instructor</span>
                <span class="headline__item-location">Based in Jakarta, Indonesia</span>
                <span class="headline__item-description">Vitalik's a person who loves to teach with enthusiasm, passion, dedication, and has a 
                    lot of experience in programming world.</span>
            </div>
            <span class="headline__item-location" style="width: 100%;">
                <% if (isInstructor === 1) { %>
                    <a href="/course/new" class="button--more u-margin-top-small u-text-center" style="margin-left: 10px">Add Course</a>
                <% } %>
                </span>
        </div>
    </div>
</div>
<div class="headline headline__profile u-margin-top-medium">
    <div class="row">
        <div class="heading-primary-black">
            <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline">
                Education
            </div>
        </div>
    </div>
    <div class="row u-line-height-small">
        <span class="headline__profile--name u-text-bold u-margin-top-small">University of Waterloo</span>
        <span class="headline__profile--location">Ontario, Kanada</span>
        <span class="headline__profile--degree">Computer Science, B.Sc.</span>
        <span class="headline__profile--year">2002-2006</span>
        <span class="headline__profile--description">Graduated with 3.4 GPA</span>
    </div>
</div>
<div class="headline headline__profile">
    <div class="row u-line-height-small">
        <div class="heading-primary-black">
            <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline u-margin-top-medium">
                Experience
            </div>
        </div>
    </div>
    <div class="row u-line-height-small">
        <span class="headline__profile--name u-text-bold u-margin-top-small">Facebook Inc.</span>
        <span class="headline__profile--position">Technical Lead, Android SDK</span>
        <span class="headline__profile--year">2013-2018</span>
        <span class="headline__profile--description">Developing Android SDK</span>
    </div>
    <div class="row u-line-height-small">
        <span class="headline__profile--name u-text-bold u-margin-top-small">Google Inc.</span>
        <span class="headline__profile--position">Junior Android Developer, Android SDK</span>
        <span class="headline__profile--year">2007-2008</span>
        <span class="headline__profile--description">Developing Android SDK</span>
    </div>
</div>
<div class="courses u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--sub-normal-underline u-font-bold">
                    Best-rated course
                </div>
            </div>
            <div class="col-1-of-5">
                <a href="/courseDetail/1">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../../media/images/course/course2.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming</span>
                        <span class="courses__item-author">Vitalik Buterin</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>

            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../../media/images/course/course1.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Learn Competitive Programming</span>
                        <span class="courses__item-author">Fatih Amzah</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.5 / 5 (25 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.050.000/mo.</span>
                    </div>
                </a>
            </div>
    </div>
<% include ../partials/footer %>