.button {
    &--more {
        background-color: transparent;
        outline: none;
        font-size: 1.7rem;
        padding: .7rem;
        border: 1px solid $color-black;
        cursor: pointer;
        transition: all .2s;
        text-decoration: none;
        color: $color-black;
        display: inline-block;

        &:hover {
            background-color: $color-yellow;
            color: $color-black;
            border: 1px solid $color-yellow
        }
    }
}