<% include ../partials/header %>

<div class="headline u-margin-top-medium">
    <div class="row">
        <div class="col-1-of-4">
            <img src="../media/images/course/course5.jpg" alt="" class="image-default u-margin-top-medium">
        </div>
        <div class="col-2-of-4">
            <div class="u-padding-small u-line-height-small">
                <span class="headline__item-title">Fun with Mandarin!</span>
                <span class="headline__item-tag">Best Language Course</span>
                <span class="headline__item-location">Jakarta, Indonesia</span>
                <span class="headline__item-location">
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star-half" style="color: yellow"></i>
                    <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                </span>
                <span class="headline__item-location">Course starts on
                    <b>27 June 2018</b>
                </span>
                <span class="headline__item-location">Available class on
                    <b>Tuesday, Thursday, Saturday</b>
                </span>
                
            </div>
        </div>
        <div class="col-1-of-4">
            <span class="headline__item-location">
                <b class="heading-primary-black--medium">Rp.1.700.000/month</b>
                <span>Includes: </span>
                <p><b>Recorded Video Course</b></p>
                <p><b>Certificate of completion</b></p>
                <p><b>Class lasts for 6 months</b></p>
            </span>
            <span class="headline__item-location" style="width: 100%;">
                <a href="/user/profile" class="button--more u-margin-top-small u-text-center" style="width: 100%;">Enroll</a>
            </span>
        </div>
    </div>
</div>

    <div class="headline headline__profile u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline">
                    Course description
                </div>
            </div>

        </div>

        <div class="row u-line-height-small">
            <span class="headline__item-location">
                15.000 + SUCCESSFUL STUDENTS HAVE ALREADY TAKEN THIS COURSE! <br><br>

__________________________________________________________________ <br><br>

Start learning Chinese with a completely new approach that will both make it fun and easy. In this course you will learn: <br><br>

- to recognize the most essential 350 character and understand 65% of the language <br><br>

- to read and even write at an intermediate level <br><br>

- to have a conversation about practically anything <br><br>

- useful insights into China and its culture <br><br>

++++++++++++++++++++++++++++++++++++++++++++++++++++

About the course and us <br><br>

The first foreign-run Chinese (Mandarin) teaching company with a completely new approach to teaching Chinese. Our courses are constructed by foreigners for foreigners, and also include the wide experience of our Chinese teachers. <br><br>

"Chinese Made Easy: Understand 65% of Chinese in 10 hours" is an extensive Chinese course for anyone who wants to start learning Chinese or even if you have studied it but find it both boring and/or difficult. <br><br>

With our new approach we are able to make it fun through entertaining videos, and logical with the way we break down the language for you and you help us build it up. When you have finished building, we promise you, you will have a much greater understanding of the language and you'll even be able to teach it to others (more about how we convert our students to teachers in our brochure in the first lesson). <br><br>

It will start with the basics for anyone who is completely new to the language and quickly build up to a conversational level. We cover speaking as well as reading and writing so you get the whole package. The goal at the end of the course is that you should be able to read and even write articles completely in Chinese at an intermediate level. You should also have enough vocabulary and understanding of how the language works to be able to engage in discussions of most topics. <br><br>

If you haven't studied with us earlier I suggest you go to our first introduction course “Chinese Made Easy: An Exciting Start to Chinese", it's completely free with over 4 hours of video content and it should give you a good idea of how you will be learning with us. You can also find that course under my profile (Felix Lättman). <br><br>

If you have read this much and don't know what to decide. Please have a look at our reviews. We are convinced that you will find this course great! <br><br></span>
        </div>
    </div>

    <div class="courses u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--sub-normal-underline u-font-bold">
                    Best-rated course
                </div>
            </div>
            <div class="col-1-of-5">
                <a href="/courseDetail/1">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course2.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming</span>
                        <span class="courses__item-author">Vitalik Buterin</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>

            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course3.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Digital Photography - Learning by Doing</span>
                        <span class="courses__item-author">Fatih Amzah</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course5.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Fun with Mandarin! Learn Fundamentals</span>
                        <span class="courses__item-author">Alice Chung</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course4.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Introduction to Accounting</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course1.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>