<% include ../partials/header %>

    <div class="headline u-margin-top-medium">
        <div class="row">
            <div class="col-1-of-4">
                <img src="../media/images/course/course3.jpg" alt="" class="image-default u-margin-top-medium">
            </div>
            <div class="col-2-of-4">
                <div class="u-padding-small u-line-height-small">
                    <span class="headline__item-title">Digital Photography - Learning by Doing</span>
                    <span class="headline__item-tag">Best Photography Course</span>
                    <span class="headline__item-location">Jakarta, Indonesia</span>
                    <span class="headline__item-location">
                        <i class="fas fa-star" style="color: yellow"></i>
                        <i class="fas fa-star" style="color: yellow"></i>
                        <i class="fas fa-star" style="color: yellow"></i>
                        <i class="fas fa-star" style="color: yellow"></i>
                        <i class="fas fa-star-half" style="color: yellow"></i>
                        <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                    </span>
                    <span class="headline__item-location">Course starts on
                        <b>27 June 2018</b>
                    </span>
                    <span class="headline__item-location">Available class on
                        <b>Tuesday, Thursday, Saturday</b>
                    </span>
                    
                </div>
            </div>
            <div class="col-1-of-4">
                <span class="headline__item-location">
                    <b class="heading-primary-black--medium">Rp.1.700.000/month</b>
                    <span>Includes: </span>
                    <p><b>Recorded Video Course</b></p>
                    <p><b>Certificate of completion</b></p>
                    <p><b>Class lasts for 6 months</b></p>
                </span>
                <span class="headline__item-location" style="width: 100%;">
                    <a href="/user/profile" class="button--more u-margin-top-small u-text-center" style="width: 100%;">Enroll</a>
                </span>
            </div>
        </div>
    </div>

    <div class="headline headline__profile u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline">
                    Course description
                </div>
            </div>

        </div>

        <div class="row u-line-height-small">
            <span class="headline__item-location">
                <b>DO YOU WANT TO FEEL COMFORTABLE AND CONFIDENT WITH YOUR CAMERA IN MANUAL MODE SO YOU NEVER MISS THE PHOTOGRAPHY MOMENT AGAIN? ARE MEMORIES GETTING AWAY FROM YOU BECAUSE YOU'RE SHOOTING IN AUTOMATIC AND YOUR PHOTOGRAPHY DOES NOT TRULY DEPICT THE MOMENT?  WOULD YOU LIKE TO CAPTURE AMAZING AND STUNNING PHOTOGRAPHS OF YOUR FAMILY, TRAVELS OR EVERYDAY MOMENTS?</b><br>

NEW ADDITION: WE NOW HAVE SPECIFIC CANON AND NIKON PHOTOGRAPHY EXAMPLES DURING THE CLASS <br><br>

Trying to learn the fundamentals of digital photography can be frustrating. Using Aperture Priority or Full Manual takes time and practice to get comfortable. There are a lot of beginner photography courses out there but most of them move too quickly, or are too basic or advanced. None give you the hands-on experience that you need to feel comfortable and confident with your camera.  <br><br>

Hi!  My names is James and several years ago I was sitting where you are now! I had a fancy DSLR camera and was shooting my photography in Automatic mode. I was frustrated and embarrassed that my phone camera was taking better pictures than this camera! I took a course hands-on digital photography course and it literally changed my world. Fast forward to today and I am the founder of Learn Photography Company - the largest and most successful photography teaching company in the world.   <br><br>

The Beginner Digital Photography Course by Learn Photography Company is our signature photography course and the best beginner digital photography class on Udemy to take you from photographing in automatic to full manual. We give you lots of home-based practice and exercises so you FEEL COMFORTABLE AND CONFIDENT with the lessons. You will TRULY UNDERSTAND the fundamentals of digital photography and the relationship between Aperture, Shutter Speed and ISO. You will leave the beginner digital photography course being able to pick up any camera and using it in manual mode.  <br><br>

At Learn Photography Company, we pride ourselves on making digital photography easy to understand and providing lots of hands-on digital photography guidance.  We have taught hundreds of courses to thousands of students and know what works. For this class, you receive core guidance to the fundamentals of beginner digitail photography. In 22 lectures spanning over 3.5 hours this digital beginner photography course provides an ideal blend of class based instruction, commentary, examples and of course home based exercises to get you comfortable with your camera. We immerse you in one of our famous hands-on digital photography courses as if you were right there. We assume you have ZERO knowledge about photography or your camera, and take you in a step-by-step proven method to teach you the fundamentals of digital photography so you are ready for about 95% of photography situations, because you UNDERSTAND digital photography.  We have specific NIKON and CANON examples in all our exercises, and go over other camera models as well. Our goal will always be to have you leaving feeling comfortable and confident with your digital photography camera. <br><br>

Learn Photography Company provides a full MONEY BACK GUARANTEE within the first 30 days if you are not satisfied. Sign up now and begin capturing memories today! <br><br>

With this beginner digital photography course with Learn Photography Company, we will guide you step-by-step to truly learning the fundamentals of digital photography. You will be immersed in one of our famous digital beginner photography classes, receive a perfect blend of information, commentary, examples and hands-on exercises. Our proven method is highly rated and our goal is to have you leaving comfortable and confident with your camera in about 95% of situations. <br><br>

If you would like to be able to pick up any camera and take amazing photographs, shoot in full manual exposure mode, capture everyday fantastic images then this is the course for you.  Sign up today and I'll see you on the other side. <br><br>
</span>
        </div>
    </div>

    <div class="courses u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--sub-normal-underline u-font-bold">
                    Best-rated course
                </div>
            </div>
            <div class="col-1-of-5">
                <a href="/courseDetail/1">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course2.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming</span>
                        <span class="courses__item-author">Vitalik Buterin</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>

            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course3.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Digital Photography - Learning by Doing</span>
                        <span class="courses__item-author">Fatih Amzah</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course5.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Fun with Mandarin! Learn Fundamentals</span>
                        <span class="courses__item-author">Alice Chung</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course4.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Introduction to Accounting</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course1.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>