<% include ../partials/header %>

<div class="headline u-margin-top-medium">
    <div class="row">
        <div class="col-1-of-4">
            <img src="../media/images/course/course4.jpg" alt="" class="image-default u-margin-top-medium">
        </div>
        <div class="col-2-of-4">
            <div class="u-padding-small u-line-height-small">
                <span class="headline__item-title">Introduction to Accounting</span>
                <span class="headline__item-tag">Best Accounting Course</span>
                <span class="headline__item-location">Bogor, Indonesia</span>
                <span class="headline__item-location">
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star-half" style="color: yellow"></i>
                    <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                </span>
                <span class="headline__item-location">Course starts on
                    <b>27 June 2018</b>
                </span>
                <span class="headline__item-location">Available class on
                    <b>Tuesday, Thursday, Saturday</b>
                </span>
                
            </div>
        </div>
        <div class="col-1-of-4">
            <span class="headline__item-location">
                <b class="heading-primary-black--medium">Rp.1.700.000/month</b>
                <span>Includes: </span>
                <p><b>Recorded Video Course</b></p>
                <p><b>Certificate of completion</b></p>
                <p><b>Class lasts for 6 months</b></p>
            </span>
            <span class="headline__item-location" style="width: 100%;">
                <a href="/user/profile" class="button--more u-margin-top-small u-text-center" style="width: 100%;">Enroll</a>
            </span>
        </div>
    </div>
</div>

    <div class="headline headline__profile u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline">
                    Course description
                </div>
            </div>

        </div>

        <div class="row u-line-height-small">
            <span class="headline__item-location">
                This is not your typical accounting course!

Professor Turner has taught thousands of students basic accounting. He has developed shortcuts and analogies to make learning accounting easy. If you want to understand this subject in a simple, fun way then this brief introductory course is for you. <br><br>

This course will show you the very basics of accounting. You can complete it in about an hour. The course includes videos of the instructor at the whiteboard. You will complete simple quizzes to reinforce what you have learned. This course is intended for business owners, business students, managers or anyone who wants to understand basic accounting. It presents the information in an understandable format. Even if you have taken an accounting course you will find the material insightful. <br><br>

The course introduces <br><br>

The Accounting Equation (One you can understand!) <br>
Balance Sheets <br>
Income Statements <br>
Debits and Credits (And how to know which is which!) <br>
Why Profit Does Not Equal Cash! <br>
If you have dreaded the thought of learning accounting, this is exactly the introduction you will welcome! <br>

Why should take this course? <br><br>

You are a business owner. You want your business to succeed and you know that you need a better understanding of how the numbers are put together. <br><br>

You are a manager. You deal with accounting staff, bookkeepers, owners and subordinates. You hear accounting terms daily but you want to know more about what accounting means. <br><br>

You are a business student. You dread taking your first accounting course. Or maybe you are in an introductory class right now. It all sounds so complicated. You want to find a simple explanation of what you are trying to learn. <br><br>

You are an accounting student. You feel that you really did not get a firm grasp of the basics. You would like to start from scratch in an easy to learn format. <br><br></span>
        </div>
    </div>

    <div class="courses u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--sub-normal-underline u-font-bold">
                    Best-rated course
                </div>
            </div>
            <div class="col-1-of-5">
                <a href="/courseDetail/1">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course2.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming</span>
                        <span class="courses__item-author">Vitalik Buterin</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>

            <div class="col-1-of-5">
                <a href="/courseDetail/2">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course3.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Digital Photography - Learning by Doing</span>
                        <span class="courses__item-author">Fatih Amzah</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course5.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Fun with Mandarin! Learn Fundamentals</span>
                        <span class="courses__item-author">Alice Chung</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course4.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Introduction to Accounting</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course1.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>