<% include ../partials/header %>

<div class="headline u-margin-top-medium">
    <div class="row">
        <div class="col-1-of-4">
            <img src="../media/images/course/course1.jpg" alt="" class="image-default u-margin-top-medium">
        </div>
        <div class="col-2-of-4">
            <div class="u-padding-small u-line-height-small">
                <span class="headline__item-title">Refactoring - Code Smells</span>
                <span class="headline__item-tag">Best Programming Course</span>
                <span class="headline__item-location">Jakarta, Indonesia</span>
                <span class="headline__item-location">
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star-half" style="color: yellow"></i>
                    <span style="display: inline-block">4.8 / 5 (25 ratings)</span>
                </span>
                <span class="headline__item-location">Course starts on
                    <b>27 June 2018</b>
                </span>
                <span class="headline__item-location">Available class on
                    <b>Tuesday, Thursday, Saturday</b>
                </span>
                
            </div>
        </div>
        <div class="col-1-of-4">
            <span class="headline__item-location">
                <b class="heading-primary-black--medium">Rp.2.500.000/month</b>
                <span>Includes: </span>
                <p><b>Recorded Video Course</b></p>
                <p><b>Certificate of completion</b></p>
                <p><b>Class lasts for 6 months</b></p>
            </span>
            <span class="headline__item-location" style="width: 100%;">
                <a href="/user/profile" class="button--more u-margin-top-small u-text-center" style="width: 100%;">Enroll</a>
            </span>
        </div>
    </div>
</div>

    <div class="headline headline__profile u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline">
                    Course description
                </div>
            </div>

        </div>

        <div class="row u-line-height-small">
            <span class="headline__item-location">
                These days, anyone can code. But if you want to get a job as an intermediate or senior-level C# developer, you must know how to write clean, maintainable code. <br>

<b>As Martin Fowler said:  <br><br>

"Any fool can write code that a computer can understand. Good programmers write code that humans can understand." - Martin Fowler</b> <br><br>


Poorly written code is hard to understand, maintain and test. But what does separate poorly written code (aka code that smells) from beautiful code that talks?  <br><br>



In this course, we walks you through common code smells found in C# programs and shows you how to refactor them using ReSharper. Refactoring is changing the design of the existing code without changing its external behaviour. <br><br>



In every lecture, you'll see an example of a popular code smell with Mosh's commentary about what is wrong with that code and more importantly, why. You'll then learn how to change the code in a safe and step-by-step fashion while minimising breaking changes. All the source codes presented in the lectures are available for download so you can practice these techniques on your own.  <br><br>




By the end of this course, you'll be able to
Spot the smells in your code
Refactor your code using safe and fast refactoring techniques with ReSharper
Write clean code that is more readable and maintainable
Break long methods into smaller, more maintainable ones
Simplify nested / complex conditional blocks
Design the proper signature for your methods
Remove duplicated code
Refactor long switch/case blocks into an object-oriented design using polymorphism
And more... <br><br>


Understanding and using these techniques are absolutely essential skills that every C# developer must have. </span>
        </div>
    </div>

    <div class="courses u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--sub-normal-underline u-font-bold">
                    Best-rated course
                </div>
            </div>
            <div class="col-1-of-5">
                <a href="/courseDetail/1">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course2.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming</span>
                        <span class="courses__item-author">Vitalik Buterin</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>

            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course3.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Digital Photography - Learning by Doing</span>
                        <span class="courses__item-author">Fatih Amzah</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course5.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Fun with Mandarin! Learn Fundamentals</span>
                        <span class="courses__item-author">Alice Chung</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course4.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Introduction to Accounting</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course1.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>