<% include ../partials/header %>

<div class="courses u-margin-top-medium">
    <div class="row">
        <div class="heading-primary-black">
            <div class="heading-primary-black--sub-normal-underline u-font-bold">
                Search result for "Best rated"
            </div>
        </div>
        <div class="col-1-of-5">
            <a href="#">
                <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                    <div class="image">

                        <img src="../media/images/course/course2.jpg" alt="" class="image-default">
                    </div>
                    <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming with Ethereum</span>
                    <span class="courses__item-author">Vitalik Buterin</span>
                    <span class="courses__item-rating">****</span>
                    <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                </div>
            </a>
        </div>

        <div class="col-1-of-5">
            <a href="#">
                <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                    <div class="image">

                        <img src="../media/images/course/course3.jpg" alt="" class="image-default">
                    </div>
                    <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Digital Photography - Learning by Doing</span>
                    <span class="courses__item-author">Fatih Amzah</span>
                    <span class="courses__item-rating">****</span>
                    <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                </div>
            </a>
        </div>


        <div class="col-1-of-5">
            <a href="#">
                <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                    <div class="image">

                        <img src="../media/images/course/course5.jpg" alt="" class="image-default">
                    </div>
                    <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Fun with Mandarin!</span>
                    <span class="courses__item-author">Alice Chung</span>
                    <span class="courses__item-rating">****</span>
                    <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                </div>
            </a>
        </div>


        <div class="col-1-of-5">
            <a href="#">
                <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                    <div class="image" style="margin: 0 auto; width: 100%">
                        <img src="../media/images/course/course4.jpg" alt="" class="image-default">
                    </div>

                    <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                    <span class="courses__item-author">Michael Gunawan Putra</span>
                    <span class="courses__item-rating">****</span>
                    <span class="courses__item-price">Rp. 1.750.000/mo.</span>

                </div>
            </a>
        </div>


        <div class="col-1-of-5">
            <a href="#">
                <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                    <div class="image" style="margin: 0 auto; width: 100%">
                        <img src="../media/images/course/course1.jpg" alt="" class="image-default">
                    </div>

                    <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                    <span class="courses__item-author">Michael Gunawan Putra</span>
                    <span class="courses__item-rating">****</span>
                    <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                </div>
            </a>
        </div>
    </div>
</div>

<% include ../partials/footer %>