<% include ../partials/header %>

<div class="headline u-margin-top-medium">
    <div class="row">
        <div class="col-1-of-4">
            <img src="../media/images/course/course2.jpg" alt="" class="image-default u-margin-top-medium">
        </div>
        <div class="col-2-of-4">
            <div class="u-padding-small u-line-height-small">
                <span class="headline__item-title">Blockchain Programming</span>
                <span class="headline__item-tag">Best Blockchain Programming Course</span>
                <span class="headline__item-location">Jakarta, Indonesia</span>
                <span class="headline__item-location">
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star" style="color: yellow"></i>
                    <i class="fas fa-star-half" style="color: yellow"></i>
                    <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                </span>
                <span class="headline__item-location">Course starts on
                    <b>27 June 2018</b>
                </span>
                <span class="headline__item-location">Available class on
                    <b>Tuesday, Thursday, Saturday</b>
                </span>
                
            </div>
        </div>
        <div class="col-1-of-4">
            <span class="headline__item-location">
                <b class="heading-primary-black--medium">Rp.1.700.000/month</b>
                <span>Includes: </span>
                <p><b>Recorded Video Course</b></p>
                <p><b>Certificate of completion</b></p>
                <p><b>Class lasts for 6 months</b></p>
            </span>
            <span class="headline__item-location" style="width: 100%;">
                <a href="/student/enroll" class="button--more u-margin-top-small u-text-center" style="width: 100%;">Enroll</a>
            </span>
        </div>
    </div>
</div>

    <div class="headline headline__profile u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--medium heading-primary-black--medium u-font-bold u-font-bold u-text-underline">
                    Course description
                </div>
            </div>

        </div>

        <div class="row u-line-height-small">
            <span class="headline__item-location">
                <b>Smart Contracts? They're here. The Ethereum Blockchain? Covered. Solidity? Yep!</b>
                <br>
                <br> There can be no understating it: Ethereum and Blockchain technology is the most disruptive force in years.
                Companies cannot hire developers who understand blockchain technologies fast enough, but there are a tiny
                number of resources published to help you truly understand what blockchains are used for, let alone build
                apps with them. That's the purpose of this course: to be the best resource online for learning about Ethereum,
                blockchains, and how to build apps with this new technology.
                <br>
                <br> The development community is still figuring out the best way to use Ethereum in the creation of new and
                exciting apps. I spent a tremendous amount of time to research and create best practice for interfacing with
                Ethereum from Javascript. I can't overstate it enough; this course will show you the best and most easily
                repeatable patterns for creating production-ready apps with Ethereum.
                <br>
                <br>

                <b>What tools and libraries are used?</b>
                <br>
                <br> The Ethereum tech ecosystem is in constant change. Don't be fooled by other courses that mention how you'll
                learn a dozen different libraries! Every library that you'll use with Ethereum breaks and is deprecated on
                a near-weekly basis! Instead, this course will teach you how to assemble your own boilerplate package to
                develop, compile, and test Smart Contracts. By learning the core technologies, you'll be prepared to adjust
                to Ethereum no matter how the ecosystem changes.
                <br>
                <br>

                <b>What is Ethereum?</b>
                <br>
                <br> Ethereum is a cryptocurrency much like Bitcoin, and it has been heralded as Bitcoins successor. Whereas
                Bitcoin currently has issues scaling with an increasing backlog of transactions, Ethereum is poised to surpass
                Bitcoin in performance, popularity, and value. Ethereum was created to help developers like you create applications
                focused around transferring money or value from one party to another.
                <br>
                <br>

                <b>What is Solidity?</b>
                <br>
                <br> Solidity is a programming language for writing Smart Contracts. Essentially, think of it as a way to control
                a bank account with code. With Solidity, we can write applications that simulate a crowd funding campaign,
                a lottery, a loan, or any other type of financial instrument. Don't be intimidated by learning 'another'
                programming language; Solidity is known to be quite similar to Javascript and exceptionally easy to pick
                up for anyone who has previous JS experience. This course will give you all the tools you need to master
                Solidity.
                <br>
                <br>

                <b>Who is the target audience?</b>
                <br>
                <br> Programmers looking to leverage blockchain technology for advanced apps Engineers who want to understand
                Ethereum and how to build apps with it</span>
        </div>
    </div>

    <div class="courses u-margin-top-medium">
        <div class="row">
            <div class="heading-primary-black">
                <div class="heading-primary-black--sub-normal-underline u-font-bold">
                    Best-rated course
                </div>
            </div>
            <div class="col-1-of-5">
                <a href="/courseDetail/1">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course2.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Blockchain Programming</span>
                        <span class="courses__item-author">Vitalik Buterin</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>

            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course3.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title  heading-primary-black--sub-bold u-margin-top-small">Digital Photography - Learning by Doing</span>
                        <span class="courses__item-author">Fatih Amzah</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image">

                            <img src="../media/images/course/course5.jpg" alt="" class="image-default">
                        </div>
                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Fun with Mandarin! Learn Fundamentals</span>
                        <span class="courses__item-author">Alice Chung</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course4.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Introduction to Accounting</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>
                    </div>
                </a>
            </div>


            <div class="col-1-of-5">
                <a href="#">
                    <div class="courses__item u-margin-top-medium u-padding-small u-line-height-small">
                        <div class="image" style="margin: 0 auto; width: 100%">
                            <img src="../media/images/course/course1.jpg" alt="" class="image-default">
                        </div>

                        <span class="courses__item-title heading-primary-black--sub-bold u-margin-top-small">Refactoring - Code Smells</span>
                        <span class="courses__item-author">Michael Gunawan Putra</span>
                        <span class="headline__item-location">
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star" style="color: yellow"></i>
                            <i class="fas fa-star-half" style="color: yellow"></i>
                            <span style="display: inline-block">4.8 / 5 (89 ratings)</span>
                        </span>
                        <span class="courses__item-price">Rp. 1.750.000/mo.</span>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>