$default-font-size: 1.7rem;

// Grid
//1310px
$grid-width: 118rem;
//GUTTERS
$gutter-vertical: 2rem;
$gutter-horizontal: 1.3rem;

//colors 
$color-black: rgb(0, 0, 0);
$color-white: #fff;
$color-yellow: #FFE023;
$color-grey: #778899;
$color-light-grey: #d3d3d3;
$transparent: transparent;

//color for background box
$color-dark-transparent: rgba(0, 0, 0, 0.363);